@use 'src/styles/vars';
@use 'src/styles/mixins';


.contactPage{
  p{
    color:vars.$headerFooterColor;
   }

   h2{
    color:vars.$headerFooterColor;
   }

   .devList {
    padding: 1rem;
    @include mixins.desktop {
      display: flex;
      flex-wrap: wrap;    
    }
   }

   .devCard-title{
    color: vars.$headerFooterColor;
    font-size:2rem;
    font-weight:bold;
    margin-bottom: 1rem;
    @include mixins.desktop {
      font-size:2.5rem;
      margin-bottom: 5rem;
      width: 100%;    
    }
  }
}


