@use 'src/styles/vars';
@use 'src/styles/mixins';

.loginContent{

  .main{

    @include mixins.desktop {
      background-image: url("https://cdn.discordapp.com/attachments/934036971783864360/935876280937758760/gift1.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      background-position: center;
    }
  }

  .content-container{
    margin:auto;
    @include mixins.desktop {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      margin: 0;
      width: 100%;
    }
  }

  .account-form{

    @include mixins.desktop {

      height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }
}

  
}
