// Website colors
$primaryColor: white;
$secondaryColor:white;
$thirdColor:#c0c0c0;
// Header and Footer colors
$headerFooterColor:#2f4f4f;

$headerIconColor: #F6C358;

$linkColor:#c0c0c0;
$headerIconColor:#F6C358;

$font: 'Spartan', sans-serif;
$fontSize: 2rem;
// A renomer 
$paddingBottom: 2rem;

$radius: 10px;

